NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
ADMIN_EMAIL=
OPENROUTER_API_KEY=
PAYFM_PID=
PAYFM_KEY=
PAYFM_GATEWAY=
PAYFM_API_BASE=
PAYFM_ALIPAY_PAY_TYPE=alipay
PAYFM_WECHAT_PAY_TYPE=wechat
NEXT_PUBLIC_SITE_URL=
SUPABASE_SERVICE_ROLE_KEY=
